<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/output.css" rel="stylesheet" />
    <title>KiritoLibrary</title>
  </head>
  <body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %>
    <!-- Error messages -->
    <%- include('../partials/errorMessage.ejs', { errorMessage:
    locals.errorMessage })%>
    <!-- Body -->
    <%- body %>
  </body>
</html>
